aniso8601==7.0.0
Click==7.0
Flask==1.0.3
Flask-Cors==3.0.8
Flask-RESTful==0.3.7
itsdangerous==1.1.0
Jinja2==2.10.1
MarkupSafe==1.1.1
obd==0.7.1
Pint==0.7.2
pyserial==3.4
pytz==2019.1
PyYAML==5.4
six==1.12.0
virtualenv==16.5.0
Werkzeug==0.15.4
